<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connStr" value="AuthType=ClientSecret;url={0};ClientId=41623af4-f2a7-400a-ad3a-ae87462ae44e;ClientSecret=r/qy6jgTisxeKZ7T3nYTVbhswXc5pYSVoSp5XFKJtQ8=" />
		<add key="CRMUrlProd" value="https://havellscrmdev1.crm8.dynamics.com/" />
	</appSettings>
</configuration>