<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ProductCatg" value="d51edd9d-16fa-e811-a94c-000d3af0694e" />
    <add key="ProductSubCatg" value="491b7022-410b-e911-a94f-000d3af00f43" />
    <add key="CustomerAsset" value="d4f7afd5-412b-ec11-b6e6-6045bd72faed" />
    <add key="ProductCatgArr" value="72981d83-16fa-e811-a94c-000d3af0694e,a7a5049b-16fa-e811-a94c-000d3af06091,2dd99da1-16fa-e811-a94c-000d3af06091,2fd99da1-16fa-e811-a94c-000d3af06091" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.7" newVersion="6.0.0.7" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>