<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connStr" value="AuthType=ClientSecret;url={0};ClientId=41623af4-f2a7-400a-ad3a-ae87462ae44e;ClientSecret=r/qy6jgTisxeKZ7T3nYTVbhswXc5pYSVoSp5XFKJtQ8=" />
		<add key="CRMUrl" value="https://havells.crm8.dynamics.com" />
		<!--<add key="fromDate" value="08/18/2022 15:22:00"/>-->
		<add key="fromDate" value="2024-06-18 00:00:00" />
		<add key="toDate" value="2024-06-18 06:00:00" />
		<add key="ObjectTypeCode" value="10196" />
		<add key ="startHour" value ="-24"/>
		<add key ="endHour" value="0"/>
		<add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=d365storagesa;AccountKey=6zw5Lx4X+zHrh+CAKLdgaWSqVZ1zC7AKugPkNEGevep6qhh1xRm5Q3DBWKGJ+DsWfCZk59BbLSJvja81DD4++w==;EndpointSuffix=core.windows.net" />
		<add key="StorageAccountKey" value="6zw5Lx4X+zHrh+CAKLdgaWSqVZ1zC7AKugPkNEGevep6qhh1xRm5Q3DBWKGJ+DsWfCZk59BbLSJvja81DD4++w==" />	
	</appSettings>
</configuration>