<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connStr" value="AuthType=ClientSecret;url={0};ClientId=41623af4-f2a7-400a-ad3a-ae87462ae44e;ClientSecret=r/qy6jgTisxeKZ7T3nYTVbhswXc5pYSVoSp5XFKJtQ8=" />
		<add key="CRMUrlProd" value="https://havells.crm8.dynamics.com" />
		<add key="triggerNames" value="cancel_2cta_h8;cancel_3cta_jo;invoice_2cta_68;est_na_2cta" />
		<add key="triggerNameForDuplicate" value="cancel_nocta_jp" />
	</appSettings>
</configuration>