<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="SecurityPublicKey" value="d365SEcReTkEYfOraPi"/>
    <add key="CrmUserId" value="pwcuser1@havells.com"/>
    <add key="CrmUserPassword" value="hqRa6GcMvL5tHw54"/>
    <add key="CrmSoapOrganizationServiceUri" value="https://havellscrmdev.api.crm8.dynamics.com/XRMServices/2011/Organization.svc"/>
    <!--<add key="CrmUserId" value="kuldeep.khare@smylsolutions.com"/>
    <add key="CrmUserPassword" value="Patanahi@1234"/>
    <add key="CrmSoapOrganizationServiceUri" value="https://orgd6d93fa0.api.crm11.dynamics.com/XRMServices/2011/Organization.svc"/>-->
  </appSettings>
</configuration>
